@import url('https://fonts.googleapis.com/css?family=Space+Mono');
body {
    font-family: 'Space Mono', serif;
}

.close {
    padding: 5px;
    color: black;
    background-color: white;
    float: left;
    border: 2px solid white;
    border-radius: 5px;
}

hr {
    border-color: #DCDCDC!important;
}

.container-fluid {
    width: 75%;
    padding: 20em 0;
    text-align: center;
    font-size: 18px;
    height: auto;
    background-color: #DCDCDC;
}

ul {
    list-style-type: none;
}

ul li {
    list-style-type: disc!important;
    color: #0C2461;
}

#nav-icon {
    display: none;
}

.portfolio img {
    max-width: 450px;
    max-height: 200px;
}

.figure {
    overflow: hidden;
    border: 2px solid #DFDFDF;
    border-radius: 10px;
    text-align: center;
}

.contact a {
    padding: 10px 15px;
}

.contact a:hover {
    text-decoration: none;
}


/* Landscape phones and down */

@media (max-width: 480px) {

    #codewars {
        width: 50%;display: inline-block;
    }

    #codewars img{
        width:100%;
    }

    .container-fluid {
        width: 100%;
    }
}