@import url('https://fonts.googleapis.com/css?family=Space+Mono');
body {
    font-family: 'Space Mono', serif;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1500;
    position: fixed;
    top: 0;
}

.fill-image {
    display: block;
    margin: 0 auto;
    max-width: 75%;
}

.close {
    padding: 5px;
    color: black;
    background-color: white;
    float: left;
    border: 2px solid white;
    border-radius: 5px;
}

hr {
    border-color: #DCDCDC!important;
}

.nav li {
    display: inline-block;
}

.navbar {
    background-color: #DCDCDC;
    font-weight: bolder;
}

.navbar a {
    color: #ABABAB!important;
}

.navbar a:hover {
    background-color: #AFAFAF!important;
    box-shadow: 0 2px 2px 0 #ffffff;
    color: black!important;
}

.container-fluid {
    width: 75%;
    margin-top: 50px;
    font-size: 18px;
    height: auto;
    background-color: #DCDCDC;
}

ul {
    list-style-type: none;
}

ul li {
    list-style-type: disc!important;
    color: #0C2461;
}

#nav-icon {
    display: none;
}

.portfolio img {
    max-width: 450px;
    max-height: 200px;
}

.figure {
    overflow: hidden;
    border: 2px solid #DFDFDF;
    border-radius: 10px;
    text-align: center;
}

.contact a {
    padding: 10px 15px;
}

.contact a:hover {
    text-decoration: none;
}


/* Landscape phones and down */

@media (max-width: 480px) {

    #codewars {
        width: 50%;display: inline-block;
    }

    #codewars img{
        width:100%;
    }

    .container-fluid {
        width: 100%;
    }
}